@import "../../styles/mixins";
@import "../../styles/variables";

.SlickHeader {
  position: absolute;
  width: 100%;
  .Slick {
    position: relative;
    width: 100%;
    .arrow .next {
      position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      color: $white;
      align-items: center;
      justify-content: center;
      right: 10px;
      font-size: 40px;
      cursor: pointer;
      z-index: 1;
    }

    .arrow .prev {
      position: absolute;
      top: 50%;
      width: 40px;
      height: 40px;
      color: $white;
      align-items: center;
      justify-content: center;
      left: 10px;
      font-size: 40px;
      cursor: pointer;
      z-index: 1;
    }

    .next,
    .prev {
      display: flex;
    }

    .outImage {
      width: 100%;
      .Image {
        width: inherit;
        object-fit: fill;
      }
    }
    :global {
      .slick-dots {
        bottom: 65px;
      }
      .slick-dots li button:before {
        font-size: 15px;
        color: $white;
      }
      .slick-dots li.slick-active button:before {
        color: $white;
      }
    }
    @include responsive_large() {
      display: none;
    }
  }
  .ButtonLink {
    position: relative;
    margin: auto;
    box-shadow: 0 0 10px $gray;
    border-radius: 6px;
    top: -55px;
    width: 70%;
    background-color: $white;
    padding: 5px;
    .Navigation {
      height: 100px;
      .Drop{
        padding: 10px 0;
        border-radius: 6px;
        cursor: pointer;
        &:hover{
          background-color: $anti-white;
        }
        .icon{
          height: 45px;
          font-size: 25px;
        }
        .Title{
        }
      }
    }
  }
}
