@import "../../styles/variables";
@import "../../styles/mixins";

.ComponentFilter {
  .ModalTitle {
    text-align: center;
    font-weight: 700;
  }
  .Filter {
    .Search {
      margin: 10px;
    }
    .ShowMore {
      color: $blue;
      cursor: pointer;
      margin: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
    .Title {
      padding: 5px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .Button {
    border-radius: 15px;
    cursor: pointer;
    width: fit-content;
    border: none;
    margin: 2px;
  }
}
.Body {
  :global {
    .ReactModal__Content {
      @include responsive_extra_large() {
        width: calc(80% - 40px);
      }
      // @include responsive_large() {
      //   width: calc(100% - 40px);
      // }
    }
  }
}
