@import "../../styles/variables";
@import "../../styles/mixins";

.ComponentFilter {
  .ModalTitle {
    text-align: center;
    font-weight: 700;
  }
  .Filter {
    .Search {
      margin: 10px;
    }
    .ShowMore {
      color: $blue;
      cursor: pointer;
      margin: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
    .Title {
      width: inherit;
      padding: 5px;
      position: relative;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      .valueRanger {
        position: absolute;
        color: $gray;
        font-weight: 400;
        right: 30px;
        font-size: 15px;
      }
    }
    .Children {
      .outranger {
        .ranger {
          height: 15px;
        }
      }
      .outinput {
        .input {
          border-radius: 3px;
          padding: 7px 0;
          margin: 5px;
        }
      }
      .outVote {
        padding: 10px 0;
        .vote {
          border: 1px solid $gray;
          border-radius: 20px;
          padding: 7px 0;
          font-size: 20px;
          margin: 0 5px;
          .iconStar {
            padding-left: 2px;
          }
        }
        .chose {
          color: $white;
          background-color: $yellow;
        }
        .unchose {
          color: $gray;
          background-color: $white;
        }
      }
    }
  }
  .Button {
    border-radius: 15px;
    cursor: pointer;
    width: fit-content;
    border: none;
    margin: 2px;
  }
}
.Body {
  :global {
    .ReactModal__Content {
      @include responsive_extra_large() {
        width: calc(80% - 40px);
      }
      // @include responsive_large() {
      //   width: calc(100% - 40px);
      // }
    }
  }
}
