@import "./grid";
@import "./mixins";
@import "./reset";
@import "./variables";
@import "./container";

* {
  font-family: $fonts-base !important;
  font-weight: $font-weight-base;
  text-decoration: none;
  font-size: $font-size-base;
}
a {
  color: unset;
  &:visited {
    color: unset;
  }
}

h1 {
  $h1-font-size: $font-size-base * 2.5 !default;
}
h2 {
  $h2-font-size: $font-size-base * 2 !default;
}
h3 {
  $h3-font-size: $font-size-base * 1.75 !default;
}
h4 {
  $h4-font-size: $font-size-base * 1.5 !default;
}
h5 {
  $h5-font-size: $font-size-base * 1.25 !default;
}
h6 {
  $h6-font-size: $font-size-base !default;
}

.minToEnd {
  cursor: pointer;
  height: 40%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color:$lighter-gray;
}

.minToEnd.minToEnd-0 {
  background-color: $gray;
  height: 40%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.minToEnd.minToEnd-1 {
  background-color: $gray;
  height: 40%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.startToEnd{
  cursor: pointer;
  height: 40%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color:$lighter-gray;
}
.startToEnd.startToEnd-1 {
  background-color: $gray;
  height: 40%;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}